########################
# Общие штуки Python
########################

__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

.venv/
venv/
env/
.env/

########################
# IDE / редакторы
########################

.vscode/
.idea/
*.iml

########################
# Данные и результаты
########################

data/
*.csv
*.tsv
*.txt
*.log

# Картинки и графики экспериментов

########################
# Библиотеки / кеши
########################

.pytest_cache/
.mypy_cache/
.cache/
*.egg-info/
dist/
build/

